/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 févr. 2023, 23:03:49
    Author     : tsikyrami
*/

 footer {
        background-color: black;
        color: #28a745;
        text-align: center;
        bottom: 0; left: 0;
        position:fixed;
        width: 100%;
        height:60px;
    }

.etu{
    margin-top:15px;
}