*{transition:all 0.3s ease-in-out;}


.test{
  padding-top:25px; 
  clear:both;
  overflow:auto;
}



nav{float:right;}

.logo img{
    float:left;
    padding-left: 50px;
}

ul li{
  cursor: pointer;
  display: inline-block; padding:10px;
  font-size:20px; 
   color:#28a745 !important;
    text-decoration: none;
}

.test{
    color:#28a745 !important;
}

ul li:hover{
  cursor: pointer;   
  text-decoration: none;
    color:#28a745 !important;
}