/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 févr. 2023, 23:03:49
    Author     : tsikyrami
*/

.sidebar {
  width: 15%;
  background-color: #f1f1f1;
  position: fixed;
  left: 0;
  height: 100%;
  display: block;
  text-align: center;  
}


.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 5px;
    color:black;
}

.sidebar a {
  color: black;
  text-decoration: none;
    color:#28a745;
}

.sidebar a:hover {
   color:black;
    text-decoration: none;
}