/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 févr. 2023, 23:03:49
    Author     : tsikyrami
*/

.pdf {
    margin-top: 10px;
}

.transaction {
   margin-top: 50px !important;
}

